---
title: ValidationResult
---

# Interface: ValidationResult

Defined in: [index.ts:195](https://github.com/BunNativeKit/bunnativekit/blob/52f64e2494d2c1ae85c3ecd54a344650c047937e/internal/schema/src/index.ts#L195)

## Properties

### errors

```ts
errors: string[];
```

Defined in: [index.ts:197](https://github.com/BunNativeKit/bunnativekit/blob/52f64e2494d2c1ae85c3ecd54a344650c047937e/internal/schema/src/index.ts#L197)

***

### valid

```ts
valid: boolean;
```

Defined in: [index.ts:196](https://github.com/BunNativeKit/bunnativekit/blob/52f64e2494d2c1ae85c3ecd54a344650c047937e/internal/schema/src/index.ts#L196)

***

### warnings

```ts
warnings: string[];
```

Defined in: [index.ts:198](https://github.com/BunNativeKit/bunnativekit/blob/52f64e2494d2c1ae85c3ecd54a344650c047937e/internal/schema/src/index.ts#L198)
