---
title: ValidationResult
---

# Interface: ValidationResult

Defined in: index.ts:195

## Properties

### errors

```ts
errors: string[];
```

Defined in: index.ts:197

***

### valid

```ts
valid: boolean;
```

Defined in: index.ts:196

***

### warnings

```ts
warnings: string[];
```

Defined in: index.ts:198
